.ctv__footer {
    padding: 8rem 1rem .3rem;
    color: var(--primary-color);
}

.ctv__footer div {
    margin: 2rem 0;
}

.ctv__footer div>p {
    margin: 0;
    line-height: 1.6;
}

.ctv__footer_author {
    font-size: 12px;
    padding-top: 2rem;
}