@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #463A86;
  --bg-color: #FFF1F8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sora";
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
